<% provide(:title, "Sign In") %>
<h2 class="center">Sign In</h2>

<div class="row">
	<div class="span6 offset3">
		<div class="session-form">
			<%= form_for(:session, url: sessions_path) do |f| %>
				<%= f.label :email %>
				<%= f.text_field :email %>

				<%= f.label :password %>
				<%= f.password_field :password %>
				
				<%= f.submit "Sign In", class: "btn btn-large btn-primary btn-block" %>
			<% end %>

			<p>New User? <%= link_to "Sign Up Now!", signup_path %></p>
		</div>
	</div>
</div>