<% provide(:title, 'Edit Organization') %>

<h2 class="center">Edit Organization</h2>

<div class="row">
	<div class="span6 offset3">
		<div class="org-form">
			<%= form_for(@org) do |f| %>

				<%= render 'shared/error_messages', object: f.object %>
				
				<%= f.label :org_name, "Organization Name" %>
				<%= f.text_field :org_name %>

				<%= f.submit "Save Changes", class: "btn btn-large btn-primary btn-block" %>
			<% end %>
		</div>
	</div>
</div>