<% provide(:title, 'All Logs') %>
<h1>All Logs</h1>

<% @monhours = current_user.janhours %>
<% @date = params[:year] ? Date.parse(params[:year]) : Date.parse("#{Date.today.strftime("%Y")}-01-01") %>
<% @newpath = new_janhour_path %>
<%= render 'janhours/janhours_calendar' %>

<hr>

<% @monhours = current_user.febhours %>
<% @date = params[:year] ? Date.parse(params[:year]) : Date.parse("#{Date.today.strftime("%Y")}-02-01") %>
<% @newpath = new_febhour_path %>
<%= render 'febhours/febhours_calendar' %>

<hr>

<% @monhours = current_user.marhours %>
<% @date = params[:year] ? Date.parse(params[:year]) : Date.parse("#{Date.today.strftime("%Y")}-03-01") %>
<% @newpath = new_marhour_path %>
<%= render 'marhours/marhours_calendar' %>

<hr>

<% @monhours = current_user.aprhours %>
<% @date = params[:year] ? Date.parse(params[:year]) : Date.parse("#{Date.today.strftime("%Y")}-04-01") %>
<% @newpath = new_aprhour_path %>
<%= render 'aprhours/aprhours_calendar' %>

<hr>

<% @monhours = current_user.mayhours %>
<% @date = params[:year] ? Date.parse(params[:year]) : Date.parse("#{Date.today.strftime("%Y")}-05-01") %>
<% @newpath = new_mayhour_path %>
<%= render 'mayhours/mayhours_calendar' %>

<hr>

<% @monhours = current_user.junhours %>
<% @date = params[:year] ? Date.parse(params[:year]) : Date.parse("#{Date.today.strftime("%Y")}-06-01") %>
<% @newpath = new_junhour_path %>
<%= render 'junhours/junhours_calendar' %>

<hr>

<% @monhours = current_user.julhours %>
<% @date = params[:year] ? Date.parse(params[:year]) : Date.parse("#{Date.today.strftime("%Y")}-07-01") %>
<% @newpath = new_julhour_path %>
<%= render 'julhours/julhours_calendar' %>

<hr>

<% @monhours = current_user.aughours %>
<% @date = params[:year] ? Date.parse(params[:year]) : Date.parse("#{Date.today.strftime("%Y")}-08-01") %>
<% @newpath = new_aughour_path %>
<%= render 'aughours/aughours_calendar' %>

<hr>

<% @monhours = current_user.sephours %>
<% @date = params[:year] ? Date.parse(params[:year]) : Date.parse("#{Date.today.strftime("%Y")}-09-01") %>
<% @newpath = new_sephour_path %>
<%= render 'sephours/sephours_calendar' %>

<hr>

<% @monhours = current_user.octhours %>
<% @date = params[:year] ? Date.parse(params[:year]) : Date.parse("#{Date.today.strftime("%Y")}-10-01") %>
<% @newpath = new_octhour_path %>
<%= render 'octhours/octhours_calendar' %>

<hr>

<% @monhours = current_user.novhours %>
<% @date = params[:year] ? Date.parse(params[:year]) : Date.parse("#{Date.today.strftime("%Y")}-11-01") %>
<% @newpath = new_novhour_path %>
<%= render 'novhours/novhours_calendar' %>

<hr>

<% @monhours = current_user.dechours %>
<% @date = params[:year] ? Date.parse(params[:year]) : Date.parse("#{Date.today.strftime("%Y")}-12-01") %>
<% @newpath = new_dechour_path %>
<%= render 'dechours/dechours_calendar' %>
