<div class="row">
	<div class="span6 offset3">
		<div class="hour-form">
			<%= form_for(object) do |f| %>

				<%= render 'shared/error_messages', object: f.object %>
				
				<%= f.label :date %>
				<%= f.date_field :date %>

				<%= f.label :numhours, "Number of Hours" %>
				<%= f.text_field :numhours %>

				<%= f.submit "Submit", class: "btn btn-large btn-primary btn-block" %>
			<% end %>
		</div>
	</div>
</div>
