<div class="navbar navbar-fixed-bottom navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<% if signed_in? %>
				<ul class="nav" style="margin: auto">
					<li><%= link_to "January", 	janhours_path %></li>
					<li><%= link_to "February", febhours_path %></li>
					<li><%= link_to "March", 	marhours_path %></li>
					<li><%= link_to "April", 	aprhours_path %></li>
					<li><%= link_to "May", 		mayhours_path %></li>
					<li><%= link_to "June", 	junhours_path %></li>
					<li><%= link_to "July", 	julhours_path %></li>
					<li><%= link_to "August", 	aughours_path %></li>
					<li><%= link_to "September",sephours_path %></li>
					<li><%= link_to "October", 	octhours_path %></li>
					<li><%= link_to "November", novhours_path %></li>
					<li><%= link_to "December", dechours_path %></li>
				</ul>
			<% end %>
		</div>
	</div>
</div>