<div id="calendar">
	<h3 id="month">
		<% if params[:action] == "logs" %>
			<%= @date.strftime("%B %Y") %>
		<% else %>
			<%= link_to "<", :year => (@date-1.year).strftime("%Y-%m-01") %>
			<%= @date.strftime("%B %Y") %>
			<%= link_to ">", :year => (@date+1.year).strftime("%Y-%m-01") %>
		<% end %>
	</h3>
	
	<%= calendar_for @monhours, :year => @date.year, :month => @date.month do |calendar| %>
	<%= calendar.head('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday') %>
		<% calendar.day(:day_method => :date) do |date, monhours| %>
			<%= date.day %>
			<% if date >= current_user.start_date && date < Date.today+1.day && monhours.length == 0 %>
				<ul class="unentered_hr">
					<% if params[:id].nil? || current_user == User.find(params[:id]) %>
						<li><%= link_to "Add", @newpath %><li>
					<% end %>
				</ul>
			<% else %>
				<ul>
					<% for @monhour in monhours %>
							<li class="entered_hr">
								<%= link_to @monhour.numhours, params[:id].nil? || current_user == User.find(params[:id]) ? editpath(@monhour) : '#' %>
							</li>
					<% end %>
				</ul>
			<% end %>
		<% end %>
	<% end %>
</div>
